:root {
    color-scheme: light dark;

    --back: light-dark(white, black);
    --front: light-dark(black, white);
}

body {
    background: var(--back);
    color: var(--front);

    font-family: "Inter", sans-serif;
    line-height: 1.4;

    max-width: 850px;
    padding: 2.5em;
    margin: auto;
}

a {
    color: light-dark(var(--oc-blue-8), var(--oc-blue-4));
}

footer {
    margin-top: 3.5em;
    padding-top: 0.5em;
    border-top: 1px solid light-dark(var(--oc-gray-6), var(--oc-gray-5));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5em 1.25em;
    
    a {
        color: light-dark(var(--oc-gray-6), var(--oc-gray-5));

        strong {
            text-decoration: none;
        }
    }
}

@media print {
    :root {
        color-scheme: light;
    }
}
