:root {
    color-scheme: light dark;

    --back: light-dark(white, black);
    --front: light-dark(black, white);
    --blue: light-dark(var(--oc-blue-8), var(--oc-blue-4));
}

body {
    background: var(--back);
    color: var(--front);
    font-family: "Ubuntu", sans-serif;
    max-width: 850px;
    padding: 40px;
    margin: auto;
    font-size: clamp(0.8em, 2.5vw, 1.15em);

    footer {
        margin-top: 3em;
        padding-top: 0.5em;
        border-top: 1px solid light-dark(var(--oc-gray-6), var(--oc-gray-3));

        p,
        .footer-links {
            margin-block: 0.5em;
        }

        .footer-links {
            padding: 0;
            display: flex;
            flex-direction: row;
            gap: 1em;
            list-style: none;

            .footer-link-item {
                margin-block: 0;
            }
        }
    }

    a {
        color: var(--blue);
        font-weight: 500;
    }

    h1 {
        font-size: 2.25em;
    }
    h2 {
        font-size: 1.75em;
    }
    h3 {
        font-size: 1.3em;
    }
}

@media print {
    :root {
        color-scheme: light;
    }

    body {
        max-width: unset;
        padding: 0;
        font-size: 0.95em;

        footer {
            .footer-built,
            .footer-contact,
            .footer-links {
                display: none;
            }
        }
    }
}
