h1 {
    margin-block-start: 0;
}

.years {
    h2 {
        border-bottom: none;
        padding: 0;
    }

    h3 {
        margin-block-start: 0.7em;
    }

    .test {
        margin-block: 1em;

        a {
            color: var(--front);
            text-decoration: underline 1px solid light-dark(var(--oc-blue-8), var(--oc-blue-4));
        }

        .icon {
            display: inline-block;
            width: 1.5em;
            text-align: center;

            img {
                width: 1em;
            }
        }

        .subject {
            font-weight: 700;
        }
    }

    &.archive .test {
        margin-block: 0.5em;

        a {
            font-weight: 500;
        }
    }
}
