.summary-header {
    margin-bottom: 1em;
}

h2,
h3,
h4 {
    margin-block-end: 0;
}

h2 {
    border-bottom: 1px solid light-dark(var(--oc-gray-5), var(--oc-gray-7));
    padding-bottom: 5px;
    font-size: 1.8em;
    font-weight: 700;
}

p mjx-container[jax="CHTML"][display="true"] {
    margin: 0.25em 0 !important;
}

mjx-container[display="true"] {
    text-align: left !important;
}

strong {
    font-weight: 700;
    text-decoration: underline solid 2px var(--oc-gray-6);
}

table {
    border-collapse: collapse;
    border: 1px solid light-dark(var(--oc-gray-5), var(--oc-gray-6));
    margin-block: 1em;

    td,
    th {
        border: 1px solid var(--front);
        padding: 5px 10px;
    }

    th {
        background-color: light-dark(var(--oc-gray-0), var(--back));
    }

    tr {
        &:nth-child(even) td {
            background-color: light-dark(var(--oc-gray-0), var(--back));
        }

        &:nth-child(odd) td {
            background-color: light-dark(var(--oc-gray-2), var(--oc-gray-9));
        }

        &:first-child {
            td {
                border-top: none;
            }

            th {
                border-top: none;
            }
        }

        &:last-child td {
            border-bottom: none;
        }

        td {
            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }

        th {
            &:first-child {
                border-left: none;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}

blockquote {
    margin: 0;
    padding: 0 1em;
    color: light-dark(var(--oc-gray-7), var(--oc-gray-2));
    border-left: 0.25em solid light-dark(var(--oc-gray-4), var(--oc-gray-6));
}

ul, ol {
    padding-inline-start: 1em;
}

img {
    width: 50%;

    &[alt~="(img-xl)"] {
        width: 100%;
    }

    &[alt~="(img-l)"] {
        width: 80%;
    }

    &[alt~="(img-m)"] {
        width: 60%;
    }

    &[alt~="(img-s)"] {
        width: 40%;
    }

    &[alt~="(img-xs)"] {
        width: 25%;
    }

    &[alt~="(img-2xs)"] {
        width: 15%;
    }

    &[alt~="(img-padding)"] {
        padding: 20px;
        background: white;
    }

    &[alt~="(img-float-right)"] {
        float: right;
        margin: 0 0 10px 10px;
    }

    &[alt~="(img-clear-both)"] {
        clear: both;
    }
}

@media print {
    .summary-header {
        display: none;
    }

    p:has(> img:only-child:not([alt~="(img-float-right)"])) {
        display: flex;
        justify-content: center;
        page-break-inside: avoid;
        break-inside: avoid;
    }

    img {
        max-width: 55%;
        margin: auto;
    }
}
