h2,
h3,
h4 {
    margin-block-end: 0;
}

h2 {
    border-bottom: 1px solid light-dark(var(--oc-gray-4), var(--oc-gray-7));
    padding-bottom: 5px;
    font-size: 1.8em;
    font-weight: 700;
}

p mjx-container[jax="CHTML"][display="true"] {
    margin-top: 0.25em !important;
    margin-bottom: 0 !important;
}

mjx-container[display="true"] {
    text-align: left !important;
}

strong {
    font-weight: 700;
    text-decoration: underline solid 2px light-dark(#9d9d9d, #626262);
}

table {
    border-collapse: collapse;
    border: 1px solid light-dark(var(--oc-gray-5), var(--oc-gray-6));
    margin-block: 1em;

    td,
    th {
        border: 1px solid var(--front);
        padding: 5px 10px;
    }

    th {
        background-color: light-dark(var(--oc-gray-0), var(--back));
    }

    tr {
        &:nth-child(even) td {
            background-color: light-dark(var(--oc-gray-0), var(--back));
        }

        &:nth-child(odd) td {
            background-color: light-dark(var(--oc-gray-2), var(--oc-gray-9));
        }

        &:first-child {
            td {
                border-top: none;
            }
            th {
                border-top: none;
            }
        }

        &:last-child td {
            border-bottom: none;
        }

        td {
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }

        th {
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}

blockquote {
    margin: 0;
    padding: 0 1em;
    color: light-dark(var(--oc-gray-7), var(--oc-gray-2));
    border-left: 0.25em solid light-dark(var(--oc-gray-4), var(--oc-gray-6));
}

img {
    width: 50%;

    &[alt~="(img-large)"] {
        width: 100%;
    }
    &[alt~="(img-semilarge)"] {
        width: 80%;
    }
    &[alt~="(img-medium)"] {
        width: 60%;
    }
    &[alt~="(img-small)"] {
        width: 40%;
    }
    &[alt~="(img-padding)"] {
        padding: 20px;
        background: white;
    }
    &[alt~="(img-float-right)"] {
        float: right;
        margin: 10px;
        margin-right: 0;
    }
}
