.summary-header {
    margin-block-end: 1em;
}

.summary-subject-header {
    margin-block-end: 0;
}

.summary-material-subheader {
    margin-block-start: 0;
    font-size: 1.3em;
    color: light-dark(var(--oc-gray-6), var(--oc-gray-5));
    font-weight: 600;
}

@media print {
    .summary-header {
        display: none;
    }

    .summary-subject-header {
        margin-block-start: 0;
    }
}
