:root {
    color-scheme: dark;

    --back: light-dark(white, black);
    --front: light-dark(black, white);
    --blue: light-dark(#1298ba, #27c1e9);
}

body {
    background: var(--back);
    color: var(--front);
    font-family: "Ubuntu", sans-serif;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 850px;
    margin: auto;
    padding: 40px 20px;
    min-height: fit-content;
}

* {
    box-sizing: border-box;
}

@media print {
    :root {
        color-scheme: light !important;
    }
    body {
        padding: 0;
    }
}

a:hover {
    color: var(--blue);
}

p,
li {
    font-weight: 300;
    line-height: 1.3em;
}

footer {
    margin-top: 3em;
}

footer p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

footer hr {
    margin-block-end: 1em;
}
