<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Leermiddelenoverzicht</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
              rel="stylesheet">
        <link rel="stylesheet"
              href="{{ '/assets/styles/home.css' | relative_url }}">
        <link rel="stylesheet"
              href="{{ '/assets/styles/basic.css' | relative_url }}">
        <link rel="icon"
              type="image/x-icon"
              href="{{ '/assets/images/samva.ico' | relative_url }}">
        <script src="https://kit.fontawesome.com/4a94c21782.js"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <main>
            <h1>Leermiddelenoverzicht</h1>
            <p id="header-txt">
                Hallo! Op deze pagina vind je alle samenvattingen die ik maak en linkjes naar andere leermiddelen.
                <br>
                Hieronder zie je per toets de beschikbare leermiddelen.
                <br>
                Veel succes met leren!
            </p>
            {% for year_data in site.data.homepage_data %}
                <h2>{{ year_data[0] }}</h2>
                {% for period_data in year_data[1] %}
                    <h3>{{ period_data[0] }}</h3>
                    <ul>
                        {% for test_data in period_data[1] %}
                            <li>
                                {% if test_data.icon == "NETL" or test_data.icon == "ENTL" or test_data.icon == "FATL" %}
                                    <img src="/assets/images/{{ test_data.icon }}.png"
                                         alt="Een vlag om het vak {{ test_data.icon }} te duiden">
                                {% else %}
                                    <i class="{{ test_data.icon }}"></i>
                                {% endif %}
                                <span class="subject">{{ test_data.subject }}:</span> <span class="test_material">{{ test_data.test_material }}</span> <span class="test_code">({{ test_data.test_code }})</span>
                                <ul>
                                    {%- unless test_data.summary_made -%}
                                    {% if test_data.summary_link %}
                                        <li class="link active">
                                            <a href="{{ test_data.summary_link }}">
                                                {{ test_data.summary_name }} <i class="fa-solid fa-arrow-right"></i>
                                            </a>
                                        </li>
                                        {% elsif test_data.make_summary %}
                                        <li class="link notyetactive">Samenvatting nog niet beschikbaar</li>
                                    {% else %}
                                        <li class="link neveractive">Geen samenvatting</li>
                                    {% endif %}
                                {%- endunless -%}
                                {% for resource in test_data.resources %}
                                    <li class="link active">
                                        <a href="{{ resource.link }}">
                                            {{ resource.title }}
                                            {% if resource.type == "internal" %}
                                                <i class="fa-solid fa-arrow-right"></i>
                                            {% else %}
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endfor %}
        <h1 id="archive">Onderbouw</h1>
        {% assign 3vwo_pages = site.pages | select: "path" | where_exp: "page", "page.path contains '3VWO/'" %}
        <h2>3VWO</h2>
        <ul>
            {% for page in 3vwo_pages %}
                {% assign path_parts = page.path | split: '/' %}
                <li>
                    <a href="{{ page.url }}">{{ path_parts.last | remove: '.md' | replace: '_', ' ' | replace: '-', ': ' }}</a>
                </li>
            {% endfor %}
        </ul>
        {% assign 2vwo_pages = site.pages | select: "path" | where_exp: "page", "page.path contains '2VWO/'" %}
        <h2>2VWO</h2>
        <ul>
            {% for page in 2vwo_pages %}
                {% assign path_parts = page.path | split: '/' %}
                <li>
                    <a href="{{ page.url }}">{{ path_parts.last | remove: '.md' | replace: '_', ' ' | replace: '-', ': ' }}</a>
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <hr>
        <p>Een website van Gijs ten Berg</p>
        <p>
            Geen rechten voorbehouden: alle orignele inhoud is vrijgegeven in het <a href="https://creativecommons.org/public-domain/cc0/" target="_blank">publieke domein (CC0)</a>
        </p>
        <p>
            Gebouwd met <a href="https://jekyllrb.com/" target="_blank">Jekyll {{ site.github.versions.jekyll }}</a>, gehost door <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
        </p>
        <p>
            Bekijk de <a href="{{ site.github.repository_url }}" target="_blank">repo</a> op GitHub
        </p>
    </footer>
</body>
</html>
