<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{%- block title -%}Samenvattingen :){%- endblock %} - school.gijs6.nl</title>
        <meta name="description"
              content="{%- block meta_description -%}Samenvattingen voor school{%- endblock -%}">
        <meta name="author" content="Gijs ten Berg">
        <meta name="theme-color"
              media="(prefers-color-scheme: light)"
              content="#fcfcfd">
        <meta name="theme-color"
              media="(prefers-color-scheme: dark)"
              content="#08090b">

        <link rel="canonical"
              href="https://school.gijs6.nl{%- block canonical_path -%}/{%- endblock -%}">

        <meta property="og:site_name" content="school.gijs6.nl">
        <meta property="og:type"
              content="{%- block og_type -%}website{%- endblock -%}">
        <meta property="og:url"
              content="https://school.gijs6.nl{%- block og_url -%}/{%- endblock -%}">
        <meta property="og:title"
              content="{%- block og_title -%}Samenvattingen - school.gijs6.nl{%- endblock -%}">
        <meta property="og:description"
              content="{%- block og_description -%}Samenvattingen voor school{%- endblock -%}">
        <meta property="og:locale" content="nl_NL">

        <link rel="icon" href="/assets/images/favicon.ico">

        <link rel="preconnect" href="https://cdn.gijs6.nl" crossorigin>
        <link rel="stylesheet" href="/assets/styles/main.css">
        {% block extra_head %}{% endblock %}

        <link rel="me" href="https://gijs6.nl">
        <link rel="me" href="https://github.com/Gijs6">

        <link rel="license" href="https://creativecommons.org/public-domain/cc0/">

        <link rel="alternate"
              type="application/rss+xml"
              title="RSS feed"
              href="/rss.xml">
        <link rel="alternate"
              type="application/atom+xml"
              title="Atom feed"
              href="/atom.xml">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="visually-hidden"
             aria-hidden="true"
             focusable="false">
            <symbol id="icon-external-link" viewBox="0 0 24 24">
            <path d="M15 3h6v6" />
            <path d="M10 14 21 3" />
            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
            </symbol>
            <symbol id="icon-arrow-right" viewBox="0 0 24 24">
            <path d="M5 12h14" />
            <path d="m12 5 7 7-7 7" />
            </symbol>
            <symbol id="icon-arrow-left" viewBox="0 0 24 24">
            <path d="m12 19-7-7 7-7" />
            <path d="M19 12H5" />
            </symbol>
            <symbol id="icon-chevron-down" viewBox="0 0 24 24">
            <path d="m6 9 6 6 6-6" />
            </symbol>
        </svg>

        <main class="page">
            {% block content %}{% endblock %}
        </main>

        <footer class="page__footer">
            <ul class="page__footer-list">
                <li>
                    <address class="page__footer-address">
                        <a class="page__footer-link"
                           href="https://gijs6.nl"
                           rel="author noopener noreferrer"
                           target="_blank">Door <span class="page__footer-author">Gijs ten Berg</span></a>
                    </address>
                </li>
                <li>
                    <a class="page__footer-link"
                       href="https://creativecommons.org/public-domain/cc0/"
                       rel="license noopener noreferrer"
                       target="_blank">CC0</a>
                </li>
                <li>
                    <a class="page__footer-link"
                       href="https://contact.gijs6.nl"
                       rel="noopener noreferrer"
                       target="_blank">Contact</a>
                </li>
                <li>
                    <a class="page__footer-link"
                       href="https://github.com/Gijs6/school.gijs6.nl"
                       rel="noopener noreferrer"
                       target="_blank">Repository</a>
                </li>
                <li>
                    <a class="page__footer-link"
                       href="https://github.com/Gijs6/school.gijs6.nl/blob/main/{{ page_path }}"
                       rel="noopener noreferrer"
                       target="_blank">Broncode</a>
                </li>
                <li>
                    <a class="page__footer-link" href="/rss.xml">RSS</a>
                </li>
            </ul>
        </footer>
    </body>
</html>
