{% extends "base.html" %}

{% from "macros.html" import tests_list %}

{% block meta_description %}
    Zelfgemaakte samenvattingen en linkjes voor toetsen
{% endblock %}
{% block og_title %}Samenvattingen - school.gijs6.nl{% endblock %}
{% block og_description %}
    Zelfgemaakte samenvattingen en linkjes voor toetsen
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="/assets/styles/home.css" />
{% endblock %}

{% block content %}
    <header>
        <h1>Samenvattingen :)</h1>
        <p>
            Welkom! Op deze prachtige site vind je al mijn zelfgemaakte samenvattingen en linkjes voor heel veel toetsen.
        </p>
        <p>Succes met leren en veel maak er wat moois van!</p>
        <p>
            ~ Gemaakt met liefde en heel veel geduld door
            <a href="https://gijs6.nl"
               target="_blank"
               rel="author noopener noreferrer">Gijs</a>
        </p>
    </header>

    <section class="year-list">
        {% for year, year_data in homepage_data.items() %}
            <section class="year-list__year">
                <h2>
                    <a class="year-list__year-link" href="/{{ year }}/">{{ year }}</a>
                </h2>
                {% for period, tests in year_data.items() %}
                    <section class="year-list__period">
                        <h3 class="year-list__period-heading">
                            <a class="year-list__period-link" href="/{{ year }}/{{ period }}/">{{ period }}</a>
                        </h3>
                        {{ tests_list(tests) }}
                    </section>
                {% endfor %}
            </section>
        {% endfor %}
    </section>

    <p>
        <a href="/onderbouw/">Bekijk samenvattingen uit de onderbouw</a>
    </p>
{% endblock %}
