{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="/assets/styles/home.css" />
    <script src="https://kit.fontawesome.com/4a94c21782.js"
            crossorigin="anonymous"></script>
    <link rel="alternate"
          type="application/rss+xml"
          title="RSS feed"
          href="/rss.xml" />
    <link rel="alternate"
          type="application/atom+xml"
          title="Atom feed"
          href="/atom.xml" />
{% endblock %}
{% block content %}
    <main>
        <h1>Leermiddelenoverzicht</h1>
        <div id="header-txt">
            <p>
                Welkom! Op deze ronduit prachtige site vind je al mijn zelfgemaakte samenvattingen en linkjes voor vrijwel alle toetsen.
            </p>
            <p>
                Scroll gerust even door de lijst hieronder. Vanaf de bovenbouw staan de toetsen per periode, daarvoor is het een beetje een rootzooi, maar dat zie je zelf wel!
            </p>
            <p>Succes met leren en veel plezier!</p>
            <p>
                ~ Gemaakt met liefde en een heel veel geduld door <a class="header-txt-name" href="https://gijs6.nl">Gijs</a>
            </p>
        </div>
        <p id="feeds">
            <a href="/rss.xml"><i class="fa-solid fa-square-rss"></i> RSS</a>
            <a href="/atom.xml"><i class="fa-solid fa-square-rss"></i> Atom</a>
        </p>
        {% for year, year_data in homepage_data.items() %}
            <section class="year-container">
                <h2>{{ year }}</h2>
                {% for period, period_data in year_data.items() %}
                    <h3>{{ period }}</h3>
                    <ul>
                        {% for test_data in period_data %}
                            <li>
                                {% if test_data.icon in ["NETL", "ENTL", "FATL"] %}
                                    <img src="/assets/images/{{ test_data.icon }}.png"
                                         alt="Een vlag om het vak {{ test_data.icon }} te duiden" />
                                {% else %}
                                    <i class="{{ test_data.icon }}"></i>
                                {% endif %}
                                <span class="subject">{{ test_data.subject }}:</span>
                                <span class="test_material">{{ test_data.test_material }}</span>
                                {% if test_data.test_code %}<span class="test_code">({{ test_data.test_code }})</span>{% endif %}
                                <ul>
                                    {% if not test_data.get('summary_made') %}
                                        {% if test_data.get('summary_link') %}
                                            <li class="link active">
                                                <a href="{{ test_data.summary_link }}">
                                                    {{ test_data.get('summary_name', 'Samenvatting') }} <i class="fa-solid fa-arrow-right"></i>
                                                </a>
                                            </li>
                                        {% elif test_data.get('make_summary') %}
                                            <li class="link notyetactive">Samenvatting nog niet beschikbaar</li>
                                        {% else %}
                                            <li class="link neveractive">Geen samenvatting</li>
                                        {% endif %}
                                    {% endif %}
                                    {% for resource in test_data.get('resources', []) %}
                                        <li class="link active">
                                            <a href="{{ resource.link }}">
                                                {{ resource.title }}
                                                {% if resource.get('type') ==  "internal" %}
                                                    <i class="fa-solid fa-arrow-right"></i>
                                                {% else %}
                                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </section>
        {% endfor %}
        <h1 id="archive">Onderbouw</h1>
        {% for year, pages in archive_data.items() %}
            <h2>{{ year }}</h2>
            <ul>
                {% for page in pages %}
                    <li>
                        <a href="{{ page.link }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </main>
{% endblock %}
