{% extends "base.html" %}
{% block title %}{{ page.get('title', 'Samenvatting') }}{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="/assets/styles/summaries.css">{% endblock %}
{% block extra_head %}
    <script src="https://kit.fontawesome.com/4a94c21782.js"
            crossorigin="anonymous"></script>
    <link rel="alternate"
          type="application/rss+xml"
          title="RSS feed"
          href="/rss.xml">
    <link rel="alternate"
          type="application/atom+xml"
          title="Atom feed"
          href="/atom.xml">
    <script async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
    window.MathJax = {
        tex: {
            inlineMath: [["$", "$"], ["\\(", "\\)"]]
        }
    };
    </script>
{% endblock %}
{% block content %}
    <header>
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z" />
            </svg>
            Naar alle leermiddelen
        </a>
    </header>
    <main>
        {{ content | safe }}
    </main>
{% endblock %}
{% block footer %}
    <footer>
        <hr>
        <p>Geschreven door Gijs ten Berg</p>
        <p>
            Geen rechten voorbehouden: alle orignele inhoud is vrijgegeven in het <a href="https://creativecommons.org/public-domain/cc0/" target="_blank">publieke domein (CC0)</a>
        </p>
        <p>
            Foutje gevonden? <a href="mailto:gijs6@dupunkto.org" target="_blank">Laat het me weten!</a>
        </p>
        <p>
            Gebouwd met <em>Binder</em>, gehost door <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
        </p>
        <p>
            Bekijk de <a href="https://github.com/Gijs6/school.gijs6.nl" target="_blank">repo</a> of de <a href="https://github.com/Gijs6/school.gijs6.nl/blob/main/{{ page_path }}.md">broncode van deze pagina</a> op GitHub
        </p>
    </footer>
{% endblock %}
