{% extends "base.html" %}

{% block title %}
    {%- if meta.subject and (meta.short or meta.title) -%}
        {{ meta.subject_name }} - {{ meta.short or meta.title }} - Samenvatting
    {%- else -%}
        Samenvatting
    {%- endif -%}
{% endblock %}

{% block canonical_path %}{{ meta.canonical_url }}{% endblock %}
{% block og_url %}{{ meta.canonical_url }}{% endblock %}
{% block og_type %}article{% endblock %}

{% set full_title %}{% if meta.subject_name and (meta.short or meta.title) %}{{ meta.subject_name }} - {{ meta.short or meta.title }} | school.gijs6.nl{% else %}Samenvatting | school.gijs6.nl{% endif %}{% endset %}
{% set full_desc %}{% if meta.subject_name and (meta.short or meta.title) %}Samenvatting {{ meta.subject_name }}: {{ meta.title or meta.short }}{% if meta.description %} - {{ meta.description }}{% endif %}{% else %}Samenvatting voor school{% endif %}{% endset %}

{% block meta_description %}{{ full_desc }}{% endblock %}
{% block og_title %}{{ full_title }}{% endblock %}
{% block og_description %}{{ full_desc }}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="/assets/styles/summary.css" />

    <script async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [
                    ["$", "$"],
                    ["\\(", "\\)"]
                ],
                packages: {
                    '[+]': ['mhchem']
                }
            },
            loader: {
                load: ['[tex]/mhchem']
            },
        };
    </script>
{% endblock %}

{% block content %}
    <main>
        <header class="summary-header">
            <nav>
                <a class="summary-header-backlink" href="/">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span class="summary-header-backtext">Naar overzicht</span>
                </a>
            </nav>
        </header>
        <noscript>Om formules e.d. te kunnen tonen heeft deze site JavaScript nodig. Je kunt dit aanzetten in de instellingen van je browser.</noscript>
        <article class="summary-content">
            {%- if meta.subject_name and (meta.title or meta.short) -%}
                <hgroup>
                    <h1 class="summary-subject-header">
                        {{ meta.subject_name }}
                        {%- if meta.year and meta.period %} ({{ meta.year }}/{{ meta.period }})
                        {% endif -%}
                    </h1>
                    <p class="summary-material-subheader">
                        {{ meta.title or meta.short }}
                        {%- if meta.description %} ({{ meta.description }})
                        {% endif -%}
                    </p>
                </hgroup>
            {%- endif -%}
            {{ content | safe }}
        </article>
    </main>
{% endblock %}
