{% extends "base.html" %}
{% block title %}
    {%- if page.get('subject') and page.get('short') -%}
        {{ page.subject_name }} - {{ page.short }} - Samenvatting
    {%- else -%}
        Samenvatting
    {%- endif -%}
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="/assets/styles/summary.css" />
    <script src="https://kit.fontawesome.com/4a94c21782.js"
            crossorigin="anonymous"></script>
    <link rel="alternate"
          type="application/rss+xml"
          title="RSS feed"
          href="/rss.xml" />
    <link rel="alternate"
          type="application/atom+xml"
          title="Atom feed"
          href="/atom.xml" />
    <script async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.MathJax = {
            tex: {
                inlineMath: [
                    ["$", "$"],
                    ["\\(", "\\)"]
                ]
            }
        };
    </script>
{% endblock %}
{% block content %}
    <header class="summary-header">
        <a class="summary-header-backlink" href="/">
            <i class="fa-solid fa-arrow-left"></i>
            <span class="summary-header-backtext">Naar alle leermiddelen</span>
        </a>
    </header>
    <main class="summary-content">
        {%- if page.get('subject') and (page.get('title') or page.get('short')) -%}
            <h1>
                {{ page.subject_name }}:
                {% if page.get('title') %}
                    {{ page.title }}
                {% else %}
                    {{ page.short }}
                {% endif %}
                {% if page.get('description') %}({{ page.description }}){% endif %}
            </h1>
        {%- endif -%}
        {{ content | safe }}
    </main>
{% endblock %}
